# Files and directories created by system.
.dart_tool/
.packages
.vscode/
.TODO

# Conventional directory for build output.
build/
build_alt/

# Data removed
.data/*.json
.data/.dataarchive/*.json
.trash/copy/*.pdf
web/label/print/*.pdf
web/label/qr/*.png
web/label/wholes/*.pdf
web/label/emails.txt
web/por/*txt
web/por/whole.pdf
web/receipts/*.txt