$color-b-back: #A8AAB6ff;
$color-b-text: #000000ff;
$color-b-border: #000000ff;
$color-p-grey: #00000099;
$color-p-back: #E8EAF6ff;
$color-p-in: #D8DAE6ff;
$color-r-in: #D8DAE6ff;
$color-o-back: #C8CAD6ff;
$color-o-tags: #000000ff;
$color-h-login: #222B6C88;
$color-h-shadow: #0000009f;
$color-i-back: #222B6C88;

//b_base h_header p_panel r_register s_storefront i_item